gitpush.sh
./three-tier-vpc/v1-vpc-module/.terraform
./three-tier-vpc/v1-vpc-module/.terraform/*
./three-tier-vpc/v2-vpc-standard-module/.terraform
./three-tier-vpc/v2-vpc-standard-module/.terraform/*